@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,700");
body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.4; }

h1,
h2,
h3,
h4 {
  font-weight: 700; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

p {
  font-size: 1.2em; }
