@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,700");
body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.4; }

h1,
h2,
h3,
h4 {
  font-weight: 700; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3em; }

h3 {
  font-size: 2em; }

p {
  font-size: 1.2em; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 95vw;
  min-height: 100vh; }

svg {
  background-color: red; }

axis:axis--x {
  -webkit-transform: translateY(15px);
          transform: translateY(15px); }
axis:axis--y {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px); }
