//import google font
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,700');

//font weight
$light: 300;
$regular: 400;
$italic: 400i;
$bold: 700;

//font size
$base_font_size: 1em;

//line height
$base_line_height: 1.4;

//font variable
$base_font: 'Ubuntu', sans-serif;
