//Reset
@import '../module/all';

h1{
  position: absolute;
  right: 5rem;
  animation: slide-in-from-bottom 2s;
}

axis{
}

rect{
  fill: #64B5F6;
}

.bar{
  &:hover{
    fill: #1565C0;
  }
}

.activate{
  animation: slide-in-from-bottom 2s;
}
